apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice
  namespace: development
spec:
  replicas: 2
  selector:
    matchLabels:
      app: microservice
  template:
    metadata:
      labels:
        app: microservice
    spec:
      containers:
        - name: microservice
          image: docker.io/davidmauricio/microservice:dummy
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SECRET_FROM_VAULT
              value: "NO_SECRET_DEFINED_IN_CLUSTER_YET"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10