apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
        - name: vault
          image: hashicorp/vault:1.15.0
          args:
            - "server"
            - "-dev"
            - "-dev-listen-address=0.0.0.0:8200"
            - "-dev-root-token-id=root"
          env:
            - name: VAULT_DEV_ROOT_TOKEN_ID
              value: "root"
          ports:
            - containerPort: 8200
              name: http
          readinessProbe:
            httpGet:
              path: /v1/sys/health
              port: 8200
            initialDelaySeconds: 5
            periodSeconds: 5