apiVersion: batch/v1
kind: Job
metadata:
  name: vault-seed-microservice
  namespace: vault
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: vault-seed
          image: hashicorp/vault:1.15.0
          env:
            - name: VAULT_ADDR
              value: http://vault.vault.svc.cluster.local:8200
            - name: VAULT_TOKEN
              value: root
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Waiting vault..."
              for i in $(seq 1 30); do
                if curl -s ${VAULT_ADDR}/v1/sys/health >/dev/null 2>&1; then
                  break
                fi
                echo "retry vault..."
                sleep 2
              done

              echo "Creating secret in vault..."
              vault kv put secret/microservice SECRET_VALUE=top-secret-desde-vault